* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Ensures that the body and HTML elements take up the full height of the viewport */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  scroll-behavior: smooth; /* Adds smooth scrolling */
  overscroll-behavior: none;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar img {
  max-height: 150px;
  margin-right: auto; /* Pushes the image to the left */
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-left: 10px;
  margin-right: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../../assets/googaga.png") no-repeat center center fixed;
  background-size: cover;
  color: black;
  padding-bottom: 100px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.container {
  gap: 20px;
  display: flex;
}
.add-image-placeholder {
  width: 420px;
  height: 610px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-size: 18px;
  cursor: pointer;
}

.thumbnail-container {
  margin-top: 20px;
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide any overflowed part of the image */
  position: relative;
}

.thumbnail-image {
  margin: auto;
  width: 80px;
  height: 80px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  cursor: pointer;
  text-align: center;
}

.thumbnailPreview1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}
.thumbnailPreview3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}
.thumbnailPreview2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.Add-image-container {
  border-radius: 10px;
  position: relative;
  margin: 20px auto;
  height: 650px;
  width: 460px;
  background-color: #f9f9f9;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;
}

.Add-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

#fileInput {
  display: none;
}

/* Create Post Section styling */
.create-post-container {
  border-radius: 10px;
  position: relative;
  margin: 20px auto;
  height: 600px;
  width: 500px;
  background-color: #f9f9f9;
  padding: 20px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #008cba;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #005f73;
}
.color-options label {
  padding-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
}

.size-options label {
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 10px;
}
