body {
  background: url(../../assets/backgroundngexchange.jpg) no-repeat center center
    fixed;
  font-family: Arial, sans-serif;
  background-size: cover;
  color: white;
  padding-bottom: 100px;
}

header {
  display: flex;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}

.bulldog-header {
  justify-content: flex-start;
  width: 10px;
  height: auto;
  margin: 0;
}

.bulldog-header img {
  margin-top: -15px;
  margin-left: -15px;
  width: 300px;
  height: auto;
}

.reservation-container {
  background-color: white;
  width: 80%;
  border-radius: 8px;
  overflow: hidden;
  margin: 100px auto; /* Center horizontally */
}

.notify-btn {
  background-color: #f0c419;
  border: none;
  padding: 10px 20px;
  color: #000;
  border-radius: 20px;
  font-weight: bold;
  position: absolute;
  right: 170px;
  top: 170px;
  cursor: pointer;
}

.reservation-list {
  padding: 20px;
}

.reservation-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.reservation-item img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-right: 15px;
}

.item-details {
  flex: 1;
}

.item-details h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.item-details p {
  margin: 5px 0;
}

.price {
  font-weight: bold;
  color: #007bff;
}

.view-btn {
  font-size: 16px;
  font-weight: bold;
  background-color: #ffd416;
  border: none;
  padding: 10px 20px;
  color: #35408f;
  border-radius: 60px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-btn {
  font-size: 16px;
  font-weight: bold;
  background-color: #ffd416;
  border: none;
  padding: 10px 20px;
  color: #35408f;
  border-radius: 60px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #e4bc0a;
}

.view-btn:hover {
  background-color: #e4bc0a;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.close {
  margin-left: auto;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.modal img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px 0;
}
